{% extends 'Shop/common/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block css%}<link rel="stylesheet" href="{% static 'Shop/css/forms.css' %}"> {% endblock css%}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <!--dynamic profile name after login-->
        <h6 style = "color:#139B67">Great Comeback <span class = 'text-capitalize'>{{request.user}}</span></h6>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <!--for selected on active-->
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}} btn-custom-pro1">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-custom-pro1">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-7 offset-sm-1">
            <!--errors and message after submission-->
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class = "alert alert-{{message.tags}} mb-5"
            {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %}
            <!--profile-->
            <form action="" method="post" class = "custom-form-profile">
                {% csrf_token %}
                <!--Profile form-->
                {% for fm in form %}
                <div class="form-group col-lg-6 mb-3">{{fm.label_tag}}{{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <div class+"col-12 mt-3">
                    <button type="submit" class="btn btn-info btn-profile">Submit</button>
                </div>
            </form>
            

        </div>
    </div>
</div>
{% endblock main-content %}